<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokePlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PokePlanner.Properties.Settings>
            <setting name="pokemon1" serializeAs="String">
                <value />
            </setting>
            <setting name="pokemon2" serializeAs="String">
                <value />
            </setting>
            <setting name="pokemon3" serializeAs="String">
                <value />
            </setting>
            <setting name="pokemon4" serializeAs="String">
                <value />
            </setting>
            <setting name="pokemon5" serializeAs="String">
                <value />
            </setting>
            <setting name="pokemon6" serializeAs="String">
                <value />
            </setting>
            <setting name="versionGroup" serializeAs="String">
                <value />
            </setting>
        </PokePlanner.Properties.Settings>
    </userSettings>
</configuration>